* {
    scrollbar-width: thin;
  }

  html {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background: linear-gradient(to right, #4b6cb7, #182848);
  }

/* Video Background */
.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
    object-fit: cover;
  }
  
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .calculator {
    background: rgba(0, 0, 0, 0.356);
    width: 350px;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
    z-index : 10; 
  }




























